<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="Log4NET.config" />
  <!--The different settings used by the application-->
  <appSettings>
    <!--<add key="GridSizeX" value="31" />
    <add key="GridSizeY" value="31" />
    <add key="CanvasSizeX" value="620" />
    <add key="CanvasSizeY" value="620" />
    <add key="BoxSize" value="20" />-->
    <add key="GridSizeX" value="21" />
    <add key="GridSizeY" value="21" />
    <add key="CanvasSizeX" value="525" />
    <add key="CanvasSizeY" value="525" />
    <add key="BoxSize" value="25" />
    <add key="DelayMilliseconde" value="0" />
    <!-- 0 = Unlimited -->
    <add key="TicksNumber" value="0" />
    <!-- True | False -->
    <add key="IsMoore" value="False" />
    <!-- True | False -->
    <add key="IsDisplayGrid" value="False" />
    <!-- True | False -->
    <add key="IsTraced" value="False" />
    <!-- True | False -->
    <add key="IsTracedPerformance" value="False" />
    <!-- True | False -->
    <add key="IsToric" value="False" />
    <!-- 0 = Random -->
    <add key="Seed" value="0" />
    <add key="RateRefresh" value="1" />
    <!-- Fair | Sequential | Random -->
    <add key="SchedulingStrategy" value="Fair" />
    <add key="ParticlesNumber" value="1000" />
    <!-- For the WatorSystem -->
    <add key="SharksNumber" value="250" />
    <add key="FishsNumber" value="1500" />
    <!-- For the HunterSystem -->
    <add key="HuntersNumber" value="1" />
    <add key="WallsPercent" value="30" />
    <add key="WallsSizeMin" value="1" />
    <add key="WallsSizeMax" value="1" />
    <add key="SpeedPercentHunter" value="80" />
    <add key="SpeedPercentAvatar" value="96" />
    <add key="DefenderLife" value="10" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>