<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="Log4NET.config" />
  <!--The different settings used by the application-->
  <appSettings>
    <!-- 89 | 50 | 30 -->
    <add key="GridSizeX" value="49" />
    <!-- 55 | 30 | 20 -->
    <add key="GridSizeY" value="49" />
    <add key="CanvasSizeX" value="1000" />
    <add key="CanvasSizeY" value="1000" />
    <add key="BoxSize" value="10" />
    <add key="DelayMilliseconde" value="50" />
    <!-- 0 = Unlimited -->
    <add key="TicksNumber" value="0" />
    <!-- True | False -->
    <add key="IsDisplayGrid" value="False" />
    <!-- True | False -->
    <add key="IsTraced" value="False" />
    <!-- True | False -->
    <add key="IsTracedPerformance" value="False" />
    <!-- True | False -->
    <add key="IsToric" value="False" />
    <!-- 0 = Random -->
    <add key="Seed" value="0" />
    <add key="RateRefresh" value="1" />
    <!-- Fair | Sequential | Random -->
    <add key="SchedulingStrategy" value="Fair" />
    <add key="ParticlesNumber" value="150" />
  <!-- For the WatorSystem -->
  <add key="SharksNumber" value="50" />
  <add key="FishsNumber" value="150" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>