<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="Log4NET.config" />
  <!--The different settings used by the application-->
  <appSettings>
    <!-- 89 | 50 | 30 -->
    <add key="GridSizeX" value="30" />
    <!-- 55 | 30 | 20 -->
    <add key="GridSizeY" value="20" />
    <add key="CanvasSizeX" value="700" />
    <add key="CanvasSizeY" value="500" />
    <add key="BoxSize" value="15" />
    <add key="DelayMilliseconde" value="250" />
    <!-- 0 = Unlimited -->
    <add key="TicksNumber" value="0" />
    <!-- True | False -->
    <add key="IsDisplayGrid" value="True" />
    <!-- True | False -->
    <add key="IsDisplayAxe" value="True" />
    <!-- True | False -->
    <add key="IsTraced" value="False" />
    <!-- True | False -->
    <add key="IsTracedPerformance" value="True" />
    <!-- True | False -->
    <add key="IsToric" value="True" />
    <!-- 0 = Random -->
    <add key="Seed" value="0" />
    <add key="RateRefresh" value="1" />
    <!-- Fair | Sequential | Random -->
    <add key="SchedulingStrategy" value="Fair" />
    <add key="AgentsNumber" value="100" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>