<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="Log4NET.config" />
  <!--The different settings used by the application-->
  <appSettings>
    <!--<add key="WSEBus" value="http://vps131654.ovh.net"/>-->
    <add key="GridSizeX" value="25" />
    <add key="GridSizeY" value="25" />
    <add key="CanvasSizeX" value="500" />
    <add key="CanvasSizeY" value="500" />
    <add key="BoxSize" value="20" />
    <add key="DelayMilliseconde" value="1000" />
    <add key="TicksNumber" value="100" />
    <add key="IsDisplayGrid" value="True" />
    <add key="IsTraced" value="False" />
    <add key="Seed" value="0" />
    <add key="RateRefresh" value="1" />
    <add key="SchedulingStrategy" value="Fair" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>